* {
  font-family: 'Vollkorn', serif;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #FFD7D2;
  background-image: url('./images/jumbotron_bg.svg');
  background-size: cover;
  background-position: right;  
}

.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

/* Footer */
.footer{
  background-color: #eee;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.footer .btn-social-icon {
  border: none;
  border-radius: 20px;
}

.footer ul a, 
.footer address a {
  color: black;
}

.footer ul a:hover, 
.footer address a:hover {
  text-decoration: none;
  color: black;
}