* {
  font-family: 'Vollkorn', serif;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #FFD7D2;
  background-image: url('./images/jumbotron_bg.svg');
  background-size: cover;
  background-position: right;  
}

/* Header */
.navbar-toggler, 
.navbar-toggler:focus {
  border: none;
  outline: none;
}

.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

/* Footer */
.footer{
  background-color: #eee;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.footer .btn-social-icon {
  border: none;
  border-radius: 20px;
}

.footer ul a, 
address a {
  color: black;
}

.footer ul a:hover, 
address a:hover {
  text-decoration: none;
  color: black;
}

/* Contact */
.btn-primary {
  background-color: #EF9A9A;
  border: none;
  outline: none;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #E57373;
  outline: none;
}

.btn-info {
  background-color: #FFE0B2;
  border: none;
}

.btn-info:hover {
  background-color: #FFB74D;
}

.btn-success {
  background-color: #FFCCBC;
  border: none;
  color: black;
}

.btn-success:hover {
  background-color: #FF8A65;
}

.card-title {
  font-weight: bold;
}












