* {
  font-family: 'Vollkorn', serif;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #FFD7D2;
  background-image: url('./images/jumbotron_bg.svg');
  background-size: cover;
  background-position: right;  
}

/* Header */
.navbar-toggler, 
.navbar-toggler:focus {
  border: none;
  outline: none;
}

.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

/* Header - Login */
.btn-outline-secondary,
.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary:focus {
  border: none;
  background-color: transparent;
  color: black;
}

.bg-login {
  background-color: #EF9A9A !important;
  border: none;
  outline: none;
  color: black;
  float: right;
}

.bg-login:hover, 
.bg-login:active, 
.bg-login:focus, 
.bg-login:visited {
  background-color: #E57373 !important;
  outline: none;
  border: none;
  color: black;
}

.modal-title {
  font-weight: bold;
}

/* Footer */
.footer{
  background-color: #eee;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.footer .btn-social-icon {
  border: none;
  border-radius: 20px;
}

.footer ul a, 
address a {
  color: black;
}

.footer ul a:hover, 
address a:hover {
  text-decoration: none;
  color: black;
}

/* Contact */
.btn-primary {
  background-color: #EF9A9A;
  border: none;
  outline: none;
  color: black;
}

.btn-primary:hover, 
.btn-primary:active, 
.btn-primary:focus, 
.btn-primary:visited {
  background-color: #E57373;
  outline: none;
  border: none;
  color: black;
}

.btn-info {
  background-color: #FFE0B2;
  border: none;
  color: black;
}

.btn-info:hover {
  background-color: #FFB74D;
  color: black;
}

.btn-success {
  background-color: #FFCCBC;
  border: none;
  color: black;
}

.btn-success:hover {
  background-color: #FF8A65;
  color: black;
}

.feedbackForm {
  background-color: #eee;
  border-radius: 6%;
  padding: 50px 50px 30px 50px;
}

.feedbackForm input.form-control {
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 0px 20px 0px 20px;
  height: 50px;
}

.feedbackForm select.form-control {
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 0px 0px 0px 20px;
}

.feedbackForm textarea.form-control {
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 20px;
}

/* Home */
.card-title {
  font-weight: bold;
}

/* Links */
.breadcrumb a, 
.breadcrumb a:hover,
.card a,
.card a:hover {
  color: black;
  text-decoration: none;
}

/* About */
.card {
  border: none;
}

.card-header {
  background-color: #343A40;
  color: white;
  font-size: 28px;
}







